* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.center-div {
  width: calc(100% - 250px);
  margin: 30px auto;
}

/* stylecss */
.taskbar-logo {
  box-sizing: border-box;
  width: 100%;
  height: 110px;
  display: flex;
  background-color: #1e2926;
}

.taskbar {
  width: 50%;
  height: 100%;
}

.taskbar a {
  margin-left: 5px;
}

.taskbar ul {
  list-style-type: none;
  display: flex;
  margin-top: 45px;
  float: right;
  margin-right: 65px;
}

.taskbar li a:hover {
  color: #d3d389;
  text-decoration: none;
  border-bottom: solid 2px #d3d389;
}

.nav-button {
  display: none;
  margin: 45px 100px;
}

i {
  color: rgb(255, 255, 255);
  margin: 0 8px 0 20px;
  font-size: 20px;
}

li a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 10px 15px;
  font-weight: 500;
  line-height: 19.2px;
  font-size: 15.4px;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  margin-left: 65px;
  margin-top: 32px;
  width: 50%;
  height: 100%;
}

.box1 {
  width: 100%;
  height: 732px;
  display: flex;
  background-color: #1e2926;
}

.text-title {
  width: 50%;
  height: 100%;
  flex-direction: column;
  text-align: center;
  margin-left: 7px;
}

.title1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 68px;
  letter-spacing: 1px;
  margin-top: 94px;
  color: white;
}

.title2 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.24px;
  font-weight: 500;
  line-height: 27.52px;
  margin-top: 15px;
  color: white;
}

.text-title .button div {
  border: solid 2px white;
  color: white;
  padding: 17px 36px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  margin-top: 49px;
  letter-spacing: 0.21px;
  line-height: 16.8px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.item-images {
  height: 100%;
}

.item-images img {
  object-fit: cover;
  height: 100%;
}

.box2 {
  width: 100%;
  height: 731px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #1e2926;
}

.box2 p.title1 {
  font-size: 23px;
  margin-top: 90px;
}

p.title2 {
  font-size: 16px;
  margin-top: 30px;
  letter-spacing: 0.24px;
  line-height: 24px;
  font-weight: 500;
}

.box2 img {
  margin-top: 28px;
}

.box2 .button-use div {
  border: solid 2px white;
  color: white;
  padding: 16px 28px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  margin-top: 49px;
  letter-spacing: 0.21px;
  line-height: 16.8px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.use-item1 {
  height: 100%;
  background-color: #6a6e49;
}

.use-item1 img {
  width: 333px;
  height: 333px;
}

.use-item2 img {
  width: 333px;
  height: 333px;
}

.use-item3 img {
  width: 333px;
  height: 333px;
}

.use-item2 {
  height: 100%;
  background-color: #975f44;
}

.use-item3 {
  height: 100%;
  background-color: #fffbf4;
}

.box3 {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #1e2926;
}

.box3 i {
  color: #ffffff;
  margin-top: 180px;
}

.box3 p {
  margin-top: 40px;
  font-size: 16px;
  letter-spacing: 0.24px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.content1 {
  width: 25%;
  height: 100%;
  margin-left: 40px;
}

.content2 {
  width: 25%;
  height: 100%;
}

.content3 {
  width: 25%;
  height: 100%;
}

.content4 {
  width: 25%;
  height: 100%;
  margin-right: 40px;
}

.box4 {
  width: 100%;
  height: 480px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #1e2926;
}

.box4 img {
  width: 100%;
  height: 230px;
  margin-top: 80px;
  opacity: 0.5;
}

.centered1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #ffffff;
}

.centered2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #fffbf4;
}

.centered3 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #ffffff;
}

.items-images1 {
  position: relative;
  width: 30%;
  height: 100%;
  margin-right: 10px;
}

.items-images2 {
  position: relative;
  width: 30%;
  height: 100%;
  margin-right: 10px;
}

.items-images3 {
  position: relative;
  width: 30%;
  height: 100%;
}

.box5 {
  max-width: 100%;
  height: 717px;
  display: flex;
  background-color: beige;
}

.title-product {
  width: 50%;
  height: 100%;
  margin-left: 64px;
  margin-top: 178px;
  letter-spacing: 1px;
}

.title-vulputate {
  margin-top: 28px;
  line-height: 27.52px;
  letter-spacing: 0.24px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div.button-look {
  background-color: #975f44;
  border-radius: 25px;
  padding: 14px 26px;
  display: inline-block;
  margin-top: 28px;
  color: #fffbf4;
  font-weight: 500;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.double-images {
  width: 50%;
  height: 100%;
  display: flex;
}

img.item-image {
  width: 50%;
  height: 400px;
  object-fit: cover;
  margin-top: 178px;
}

.box6 {
  width: 100%;
  height: 600px;
  display: flex;
}

img.item-box6 {
  object-fit: cover;
  filter: brightness(50%);
}

.images-banner1 {
  position: relative;
}

.images-banner2 {
  position: relative;
}

.content-box6 {
  position: absolute;
  top: 30%;
  left: 25%;
  justify-content: center;
  text-align: center;
}

div.title-box6 {
  font-size: 43px;
  color: #fffbf4;
  font-family: Arial, Helvetica, sans-serif;
}

div.title-content-box6 {
  color: #ffffff;
  line-height: 25px;
  letter-spacing: 0.25px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
}

div.button-learn {
  background-color: #6a6e49;
  border-radius: 25px;
  padding: 18px 28px;
  display: inline-block;
  margin-top: 30px;
  color: #fffbf4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.images-banner1 {
  height: 100%;
}

.images-banner1 img {
  width: 100%;
  height: 100%;
}

.images-banner2 {
  height: 100%;
}

.images-banner2 img {
  width: 100%;
  height: 100%;
}

.box7 {
  width: 100%;
  height: 150px;
  text-align: center;
}

div.title-box7 {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 120px;
  letter-spacing: 1.24px;
}

p.content-box7 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.24px;
  margin-top: 18px;
}

.box8 {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-around;
  background-color: #fcf4f4;
}

.cart-items1 {
  width: 28%;
  height: 80%;
  border: solid 1px #6a6e49;
  text-align: center;
  margin-left: 3%;
}

div.title-box8 {
  margin-top: 50px;
  font-size: 23px;
}

div.item-box8 img {
  margin-top: 21px;
  width: 180px;
  height: 180px;
  object-fit: cover;
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.icon-box8 {
  justify-content: center;
  margin-top: 30px;
}

.icon-box8 i {
  color: rgb(75, 75, 68);
  display: contents;
}

div.content-box8 {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.24px;
  margin-top: 24px;
  color: gray;
  line-height: 24px;
}

div.weight-box8 {
  margin-top: 20px;
}

div.weight1 {
  border: solid 1px #d1985c;
  padding: 8px 20px;
  display: inline-block;
  border-radius: 5px;
}

div.weight2 {
  border: solid 1px #d1985c;
  padding: 8px 20px;
  display: inline-block;
  border-radius: 5px;
}

div.weight3 {
  border: solid 1px #d1985c;
  padding: 8px 20px;
  display: inline-block;
  border-radius: 5px;
}

div.buttton-box8 {
  margin-top: 20px;
  padding: 14px 28px;
  border: 2px solid gray;
  display: inline-block;
  border-radius: 25px;
}

.cart-items2 {
  width: 28%;
  height: 80%;
  border: solid 1px #6a6e49;
  text-align: center;
}

.cart-items3 {
  width: 28%;
  height: 80%;
  border: solid 1px #6a6e49;
  text-align: center;
  margin-right: 3%;
}

.box9 {
  width: 100%;
  height: 800px;
  display: flex;
  background-color: #1e2926;
  align-items: center;
}

.box9-right {
  color: #fffbf4;
}

div.title-promotes {
  letter-spacing: 1.25px;
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 50px;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

div.content-box9 {
  margin-top: 20px;
  margin-left: 100px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  letter-spacing: 0.25px;
}

div.button-more {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px 0 0 100px;
}

.item-promotes {
  height: 500px;
  margin-left: 5%;
}

.item-promotes img {
  height: 100%;
}

.box10 {
  width: 100%;
  height: 800px;
  display: flex;
  background-color: #1e2926;
}

.box10-right {
  margin-right: 100px;

  color: #fffbf4;
}

div.title-promotes1 {
  letter-spacing: 1.25px;
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 50px;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

div.content-box10 {
  margin-top: 20px;
  margin-left: 100px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  letter-spacing: 0.25px;
}

div.button-more1 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px 0 0 100px;
}

.item-promotes1 {
  height: 500px;
  margin-right: 5%;
}

.item-promotes1 img {
  height: 100%;
}

.box11 {
  width: 100%;
  height: 400px;
}

.banner-end {
  position: relative;
}

.content-box11 {
  position: absolute;
  top: 30%;
  left: 5%;
}

div.button-box11 {
  display: inline-block;
  border-radius: 25px;
  padding: 16px 80px;
  background-color: #ffffff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

div.title11 {
  text-transform: uppercase;
  font-size: 40px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 50px;
}

div.content11 {
  font-size: 16px;
  color: wheat;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
  font-weight: 500;
  margin-top: 30px;
}

.button-box11 {
  position: absolute;
  top: 40%;
  right: 8%;
}

.banner-end img {
  height: 400px;
  width: 100%;
  filter: brightness(50%);
  object-fit: cover;
}

.information {
  width: 100%;
  height: 450px;
  display: flex;
  background-color: #1e2926;
}

.contact {
  width: 40%;
  height: 100%;
}

.logo-contact {
  margin-left: 50px;
  margin-top: 100px;
}

.list-contact {
  margin-left: 35px;
  margin-top: 50px;
}

div.right-contact ul {
  float: left;
  list-style-type: none;
  line-height: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

div.left-contact ul {
  float: right;
  list-style-type: none;
  line-height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 100px;
}

.icon-contact {
  margin-top: 400px;
  margin-left: -502px;
}

.subscribe {
  width: 60%;
  height: 100%;
  margin-left: 354px;
}

div.title-subscribe {
  margin: 110px 0 0 50px;
  font-size: 25px;
  color: wheat;
  letter-spacing: 1.24px;
  font-family: Arial, Helvetica, sans-serif;
}

div.subscribe-button {
  margin-top: 40px;
  border: solid 1px gray;
  display: flex;
  padding: 5px;
  margin-right: 30%;
  margin-left: 50px;
}

div.button-send {
  background-color: #969b69;
  float: left;
  padding: 22px 30px;
  margin-left: 40%;
  color: wheat;
}

div.title-button {
  margin-top: 20px;
  color: wheat;
  font-size: 20px;
}

.content-by {
  color: aliceblue;
  margin-left: 50px;
  margin-top: 40px;
}

@media only screen and (max-width: 46.1875em) {
  * {
    padding: 0;
    margin: 0;
  }

  .taskbar {
    display: none;
  }

  .nav-button {
    display: block;
  }

  .box1 {
    flex-direction: column-reverse;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .title1 {
    font-size: 50px;
  }

  .item-images img {
    width: 100%;
  }

  .text-title {
    width: 80%;
    margin-bottom: 50px;
  }

  .box2 {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .use-item1 {
    padding: 50px;
  }

  .box2 p.title1 {
    margin-top: 20px;
  }

  .use-item1 img {
    width: 333px;
    height: 333px;
  }

  .use-item2 {
    padding: 50px;
  }

  .box2 p.title1 {
    margin-top: 20px;
  }

  .use-item2 img {
    width: 333px;
    height: 333px;
  }

  .use-item3 {
    padding: 50px;
  }

  .box2 p.title1 {
    margin-top: 20px;
  }

  .use-item3 img {
    width: 333px;
    height: 333px;
  }

  .box3 {
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .content1 {
    width: 90% !important;
    margin-top: 10px;
    margin-left: 10px;
  }

  .content2 {
    width: 90%;
    margin-left: 10px;
    margin-top: 20px;
  }

  .content3 {
    width: 90%;
    margin-left: 10px;
    margin-top: 20px;
  }

  .content4 {
    width: 90%;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 10px;
  }

  .box4 {
    flex-direction: column;
    height: auto;
  }

  .items-images1 {
    width: 85% !important;
    margin: auto;
  }

  .items-images2 {
    width: 85% !important;
    margin: auto;
  }

  .items-images3 {
    width: 85% !important;
    margin: auto;
    margin-bottom: 50px;
  }

  .box5 {
    flex-direction: column-reverse;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .double-images {
    width: 80%;
  }

  img.item-image {
    margin-top: 50px;
  }

  .title-beautyful {
    margin-top: -100px;
    margin-left: -30px;
  }

  .title-vulputate {
    margin-left: -30px;
  }

  div.button-look {
    margin-left: -30px;
    margin-bottom: 50px;
  }

  .box6 {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  img.item-box6 {
    width: 100% !important;
    height: 500px;
  }

  .content-box6 {
    position: absolute;
    margin-left: -50px;
  }

  .images-banner1 {
    position: relative;
  }

  div.title-box6 {
    font-size: 30px;
    margin-top: -70px;
  }

  .box8 {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  .cart-items1 {
    width: 80% !important;
    margin-left: 40px;
    height: 600px;
  }

  .cart-items2 {
    width: 80% !important;
    margin-top: 30px;
    margin-left: 40px;
    height: 600px;
  }

  .cart-items3 {
    width: 80% !important;
    margin-top: 30px;
    margin-left: 50px;
    height: 600px;
    margin-bottom: 80px;
  }

  .box9 {
    flex-direction: column;
    height: auto;
  }

  .item-promotes img {
    margin-top: 80px;
    width: 90% !important;
    object-fit: cover;
    margin-left: 10px;
  }

  .box9-right {
    margin-top: 50px;
    margin-left: -240px;
  }

  div.title-promotes {
    font-size: 40px;
    width: 80%;
  }

  .box10 {
    flex-direction: column-reverse;
    height: auto;
  }

  .item-promotes1 img {
    margin-top: 80px;
    width: 90% !important;
    object-fit: cover;
    margin-left: 35px;
  }

  .box10-right {
    margin-top: 80px;
    margin-left: -65px;
    margin-bottom: 40px;
  }

  div.title-promotes1 {
    font-size: 40px;
    width: 80%;
  }

  .banner-end {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-box11 {
    position: absolute;
    margin-top: -100px;
  }

  div.button-box11 {
    margin-top: 170px;
    margin-right: 41px;
  }

  .box11 {
    height: 600px;
  }

  .banner-end img {
    height: 600px;
  }

  .information {
    flex-direction: column;
    height: auto;
  }

  .list-contact {
    display: flex;
  }

  .left-contact {
    margin-left: 200px;
  }
  .icon-contact {
    margin-top: 20px;
    margin-left: 28px;
  }
  .subscribe {
    margin-left: 0px;
  }
  div.title-subscribe {
    margin-top: 40px;
  }
  div.subscribe-button {
    display: none;
  }
}

/* ipad */
@media only screen and (min-width: 47.25em) and (max-width: 63.9375em) {
}
